
pjrt_plugin/musa_test/musa_model/*.0
pjrt_plugin/musa_test/musa_model/*.ll
pjrt_plugin/musa_test/musa_model/*.mubin


pjrt_plugin/tf2.15/
pjrt_plugin/tf_include/
pjrt_plugin/venv_tf/
plugin_pjrt

*.pyc
__pycache__/
.DS_Store


# Bazel build outputs
bazel-*
bazel-bin/
bazel-out/
bazel-testlogs/

*.tar
*.tar.xz
*.zip

# Build artifacts
*.o
*.so
*.a
*.lo
*.pyc
__pycache__/
.cache/